@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #181818;
}
::webkit-scrollbar {
  display: none;
}
audio::-webkit-media-controls-panel {
  background-color: #000;
  color: white;
}
.nunito {
  font-family: "nunito", font-sans;
}

.border-b-1 {
  border-bottom-width: 1px;
}

.border-l-1 {
  border-left-width: 1px;
}

hover\:border-none:hover {
  border-style: none;
}

#sidebar {
  transition: ease-in-out all 0.3s;
  z-index: 9999;
}

#sidebar span {
  opacity: 0;
  position: absolute;
  transition: ease-in-out all 0.1s;
}

#sidebar:hover {
  width: 150px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  /*shadow-2xl*/
}

#sidebar:hover span {
  opacity: 1;
}

.album-img-hover-zoom--blur img {
  transition: transform 1s, filter 2s ease-in-out;
  filter: blur(2px);
  transform: scale(1.2);
}

/* The Transformation */
.album-img-hover-zoom--blur:hover img {
  filter: blur(0);
  transform: scale(1);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
